who_ictrp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="trials">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="trial" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="main" type="mainType" minOccurs="0"/>
              <xs:element name="contacts" type="contactsType" minOccurs="0"/>
              <xs:element name="countries" type="countriesType" minOccurs="0"/>
              <xs:element name="criteria" type="criteriaType" minOccurs="0"/>
              <xs:element name="health_condition_code" type="healthConditionCodeType" minOccurs="0"/>
              <xs:element name="health_condition_keyword" type="healthConditionKeywordType" minOccurs="0"/>
              <xs:element name="intervention_code" type="interventionCodeType" minOccurs="0"/>
              <xs:element name="intervention_keyword" type="interventionKeywordType" minOccurs="0"/>
              <xs:element name="primary_outcome" type="primaryOutcomeType" minOccurs="0"/>
              <xs:element name="secondary_outcome" type="secondaryOutcomeType" minOccurs="0"/>
              <xs:element name="secondary_sponsor" type="secondarySponsorType" minOccurs="0"/>
              <xs:element name="secondary_ids" type="emptySecondaryIdsType" minOccurs="0"/>
              <xs:element name="secondary_id" type="secondaryIdType" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="source_support" type="sourceSupportType" minOccurs="0"/>
              <xs:element name="ethics_reviews" type="ethicsReviewsType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="mainType">
    <xs:sequence>
      <xs:element name="trial_id" type="xs:string" minOccurs="0"/>
      <xs:element name="utrn" type="xs:string" minOccurs="0"/>
      <xs:element name="reg_name" type="xs:string" minOccurs="0"/>
      <xs:element name="date_registration" type="xs:string" minOccurs="0"/>
      <xs:element name="primary_sponsor" type="xs:string" minOccurs="0"/>
      <xs:element name="public_title" type="xs:string" minOccurs="0"/>
      <xs:element name="acronym" type="xs:string" minOccurs="0"/>
      <xs:element name="scientific_title" type="xs:string" minOccurs="0"/>
      <xs:element name="scientific_acronym" type="xs:string" minOccurs="0"/>
      <xs:element name="date_enrolment" type="xs:string" minOccurs="0"/>
      <xs:element name="type_enrolment" type="xs:string" minOccurs="0"/>
      <xs:element name="target_size" type="xs:string" minOccurs="0"/>
      <xs:element name="recruitment_status" type="xs:string" minOccurs="0"/>
      <xs:element name="url" type="xs:string" minOccurs="0"/>
      <xs:element name="study_type" type="xs:string" minOccurs="0"/>
      <xs:element name="study_design" type="xs:string" minOccurs="0"/>
      <xs:element name="phase" type="xs:string" minOccurs="0"/>
      <xs:element name="hc_freetext" type="xs:string" minOccurs="0"/>
      <xs:element name="i_freetext" type="xs:string" minOccurs="0"/>
      <xs:element name="results_actual_enrolment" type="xs:string" minOccurs="0"/>
      <xs:element name="results_date_completed" type="xs:string" minOccurs="0"/>
      <xs:element name="results_url_link" type="xs:string" minOccurs="0"/>
      <xs:element name="results_summary" type="xs:string" minOccurs="0"/>
      <xs:element name="results_date_posted" type="xs:string" minOccurs="0"/>
      <xs:element name="results_date_first_publication" type="xs:string" minOccurs="0"/>
      <xs:element name="results_baseline_char" type="xs:string" minOccurs="0"/>
      <xs:element name="results_participant_flow" type="xs:string" minOccurs="0"/>
      <xs:element name="results_adverse_events" type="xs:string" minOccurs="0"/>
      <xs:element name="results_outcome_measures" type="xs:string" minOccurs="0"/>
      <xs:element name="results_url_protocol" type="xs:string" minOccurs="0"/>
      <xs:element name="results_IPD_plan" type="xs:string" minOccurs="0"/>
      <xs:element name="results_IPD_description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contactsType">
    <xs:sequence>
      <xs:element name="contact" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" type="xs:string" minOccurs="0"/>
            <xs:element name="firstname" type="xs:string" minOccurs="0"/>
            <xs:element name="middlename" type="xs:string" minOccurs="0"/>
            <xs:element name="lastname" type="xs:string" minOccurs="0"/>
            <xs:element name="address" type="xs:string" minOccurs="0"/>
            <xs:element name="city" type="xs:string" minOccurs="0"/>
            <xs:element name="country1" type="xs:string" minOccurs="0"/>
            <xs:element name="zip" type="xs:string" minOccurs="0"/>
            <xs:element name="telephone" type="xs:string" minOccurs="0"/>
            <xs:element name="email" type="xs:string" minOccurs="0"/>
            <xs:element name="affiliation" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countriesType">
    <xs:sequence>
      <xs:element name="country2" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="criteriaType">
    <xs:sequence>
      <xs:element name="inclusion_criteria" type="xs:string" minOccurs="0"/>
      <xs:element name="agemin" type="xs:string" minOccurs="0"/>
      <xs:element name="agemax" type="xs:string" minOccurs="0"/>
      <xs:element name="gender" type="xs:string" minOccurs="0"/>
      <xs:element name="exclusion_criteria" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="healthConditionCodeType">
    <xs:sequence><xs:element name="hc_code" type="xs:string" maxOccurs="unbounded" minOccurs="0"/></xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="healthConditionKeywordType">
    <xs:sequence><xs:element name="hc_keyword" type="xs:string" maxOccurs="unbounded" minOccurs="0"/></xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="interventionCodeType">
    <xs:sequence><xs:element name="i_code" type="xs:string" maxOccurs="unbounded" minOccurs="0"/></xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="interventionKeywordType">
    <xs:sequence><xs:element name="i_keyword" type="xs:string" maxOccurs="unbounded" minOccurs="0"/></xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="primaryOutcomeType">
    <xs:sequence><xs:element name="prim_outcome" type="xs:string" maxOccurs="unbounded" minOccurs="0"/></xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="secondaryOutcomeType">
    <xs:sequence><xs:element name="sec_outcome" type="xs:string" maxOccurs="unbounded" minOccurs="0"/></xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="secondarySponsorType">
    <xs:sequence><xs:element name="sponsor_name" type="xs:string" maxOccurs="unbounded" minOccurs="0"/></xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="sourceSupportType">
    <xs:sequence><xs:element name="source_name" type="xs:string" maxOccurs="unbounded" minOccurs="0"/></xs:sequence>
  </xs:complexType>

  <xs:complexType name="emptySecondaryIdsType">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="secondaryIdType">
    <xs:sequence>
      <xs:element name="sec_id" type="xs:string" minOccurs="0"/>
      <xs:element name="issuing_authority" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ethicsReviewsType">
    <xs:sequence>
      <xs:element name="ethics_review" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="status" type="xs:string" minOccurs="0"/>
            <xs:element name="approval_date" type="xs:string" minOccurs="0"/>
            <xs:element name="contact_name" type="xs:string" minOccurs="0"/>
            <xs:element name="contact_address" type="xs:string" minOccurs="0"/>
            <xs:element name="contact_phone" type="xs:string" minOccurs="0"/>
            <xs:element name="contact_email" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>