who_ictrp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="str10">
    <xs:restriction base="xs:string"><xs:maxLength value="10"/></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="str50">
    <xs:restriction base="xs:string"><xs:maxLength value="50"/></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="str255">
    <xs:restriction base="xs:string"><xs:maxLength value="255"/></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="str500">
    <xs:restriction base="xs:string"><xs:maxLength value="500"/></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="str512">
    <xs:restriction base="xs:string"><xs:maxLength value="512"/></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="str1000">
    <xs:restriction base="xs:string"><xs:maxLength value="1000"/></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="str2000">
    <xs:restriction base="xs:string"><xs:maxLength value="2000"/></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="str3000">
    <xs:restriction base="xs:string"><xs:maxLength value="3000"/></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="str4000">
    <xs:restriction base="xs:string"><xs:maxLength value="4000"/></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="str8000">
    <xs:restriction base="xs:string"><xs:maxLength value="8000"/></xs:restriction>
  </xs:simpleType>

  <xs:element name="trials">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="trial" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="main" type="mainType"/>
              <xs:element name="contacts" type="contactsType"/>
              <xs:element name="countries" type="countriesType"/>
              <xs:element name="criteria" type="criteriaType"/>
              <xs:element name="health_condition_code" type="healthConditionCodeType"/>
              <xs:element name="health_condition_keyword" type="healthConditionKeywordType"/>
              <xs:element name="intervention_code" type="interventionCodeType"/>
              <xs:element name="intervention_keyword" type="interventionKeywordType"/>
              <xs:element name="primary_outcome" type="primaryOutcomeType"/>
              <xs:element name="secondary_outcome" type="secondaryOutcomeType"/>
              <xs:element name="secondary_sponsor" type="secondarySponsorType"/>
              <xs:element name="secondary_ids" type="secondaryIdsType"/>
              <xs:element name="source_support" type="sourceSupportType"/>
              <xs:element name="ethics_reviews" type="ethicsReviewsType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="mainType">
    <xs:sequence>
      <xs:element name="trial_id" type="str255"/>
      <xs:element name="utrn" type="str255" minOccurs="0"/>
      <xs:element name="reg_name" type="str50"/>
      <xs:element name="date_registration" type="str10"/>
      <xs:element name="primary_sponsor" type="str2000"/>
      <xs:element name="public_title" type="str2000"/>
      <xs:element name="acronym" type="str255" minOccurs="0"/>
      <xs:element name="scientific_title" type="str2000"/>
      <xs:element name="scientific_acronym" type="str255" minOccurs="0"/>
      <xs:element name="date_enrolment" type="str10"/>
      <xs:element name="type_enrolment" type="str50"/>
      <xs:element name="target_size" type="str255"/>
      <xs:element name="recruitment_status" type="str255"/>
      <xs:element name="url" type="str255" minOccurs="0"/>
      <xs:element name="study_type" type="str255"/>
      <xs:element name="study_design" type="str1000"/>
      <xs:element name="phase" type="str255"/>
      <xs:element name="hc_freetext" type="str3000" minOccurs="0"/>
      <xs:element name="i_freetext" type="str3000" minOccurs="0"/>
      <xs:element name="results_actual_enrolment" type="str255"/>
      <xs:element name="results_date_completed" type="str10"/>
      <xs:element name="results_url_link" type="str255"/>
      <xs:element name="results_summary" type="str512"/>
      <xs:element name="results_date_posted" type="str10"/>
      <xs:element name="results_date_first_publication" type="str10"/>
      <xs:element name="results_baseline_char" type="str8000"/>
      <xs:element name="results_participant_flow" type="str8000"/>
      <xs:element name="results_adverse_events" type="str8000"/>
      <xs:element name="results_outcome_measures" type="str8000"/>
      <xs:element name="results_url_protocol" type="str255"/>
      <xs:element name="results_IPD_plan" type="str255"/>
      <xs:element name="results_IPD_description" type="str2000"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contactsType">
    <xs:sequence>
      <xs:element name="contact" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" type="str50"/>
            <xs:element name="firstname" type="str50"/>
            <xs:element name="middlename" type="str50"/>
            <xs:element name="lastname" type="str50"/>
            <xs:element name="address" type="str255"/>
            <xs:element name="city" type="str50"/>
            <xs:element name="country1" type="str50"/>
            <xs:element name="zip" type="str50"/>
            <xs:element name="telephone" type="str255"/>
            <xs:element name="email" type="str255"/>
            <xs:element name="affiliation" type="str255"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countriesType">
    <xs:sequence>
      <xs:element name="country2" type="str50" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="criteriaType">
    <xs:sequence>
      <xs:element name="inclusion_criteria" type="str4000"/>
      <xs:element name="agemin" type="str50"/>
      <xs:element name="agemax" type="str50"/>
      <xs:element name="gender" type="str50"/>
      <xs:element name="exclusion_criteria" type="str4000"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="healthConditionCodeType">
    <xs:sequence><xs:element name="hc_code" type="str255" maxOccurs="unbounded"/></xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="healthConditionKeywordType">
    <xs:sequence><xs:element name="hc_keyword" type="str500" maxOccurs="unbounded"/></xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="interventionCodeType">
    <xs:sequence><xs:element name="i_code" type="str255" maxOccurs="unbounded"/></xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="interventionKeywordType">
    <xs:sequence><xs:element name="i_keyword" type="str500" maxOccurs="unbounded"/></xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="primaryOutcomeType">
    <xs:sequence><xs:element name="prim_outcome" type="str8000" maxOccurs="unbounded"/></xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="secondaryOutcomeType">
    <xs:sequence><xs:element name="sec_outcome" type="str8000" maxOccurs="unbounded"/></xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="secondarySponsorType">
    <xs:sequence><xs:element name="sponsor_name" type="str2000" maxOccurs="unbounded"/></xs:sequence>
  </xs:complexType>

  <xs:complexType name="secondaryIdsType">
    <xs:sequence>
      <xs:element name="secondary_id" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sec_id" type="str50"/>
            <xs:element name="issuing_authority" type="str255"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sourceSupportType">
    <xs:sequence><xs:element name="source_name" type="str1000" maxOccurs="unbounded"/></xs:sequence>
  </xs:complexType>

  <xs:complexType name="ethicsReviewsType">
    <xs:sequence>
      <xs:element name="ethics_review" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="status" type="str255"/>
            <xs:element name="approval_date" type="str10"/>
            <xs:element name="contact_name" type="str512"/>
            <xs:element name="contact_address" type="str1000"/>
            <xs:element name="contact_phone" type="str255"/>
            <xs:element name="contact_email" type="str255"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>